.card {
  border-radius: 12px;
  box-shadow: 2px 2px 10px -3px #d8d8d8;
  .ant-card-body {
    padding: 16px;
  }
  .heading {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
  }
}

.dashboard-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-number {
  font-size: 2.5em;
  font-weight: bold;
}
